<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>SUIT-Bold.otf</string>
		<string>SUIT-Heavy.otf</string>
		<string>SUIT-Light.otf</string>
		<string>SUIT-Regular.otf</string>
		<string>SUIT-SemiBold.otf</string>
		<string>SUIT-Thin.otf</string>
	</array>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>후기 사진 등록을 위해 사진 라이브러리 사용 권한이 필요합니다.</string>
</dict>
</plist>
